/* Styling for entire project */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Josefin+Slab&display=swap');

h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 30pt;
    text-align: center;
}

h2 {
    font-family: 'Josefin Slab', serif;
    font-size: 24pt;
    text-align: center;
}

fieldset {
    min-width: 0; 
    padding: 1rem 0;
    margin: 0;
    border: 0;
    background-color: #c88b85;
} 


button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px 10px;
    border-radius: 8px;
    transition-duration: 0.2s;
    border: 1px solid;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    background-color: #e6beb6;
}

button:hover {
    background-color: #c88b85;
    color: white;
}

input {
    font-family: 'Josefin Sans', sans-serif;
    width: 75%;
    font-size: 12pt;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
}

label {
    font-size: 16px;
    font-family: 'Josefin Slab', serif;
    padding: 12px 20px;
}

select {
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    margin: 0 12px;
}

body {
    background-color: #fbfaf9;
}

form
{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 50%;
}