/* Styling for entire project */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Josefin+Slab&display=swap');

h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 30pt;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px 10px;
    border-radius: 8px;
    transition-duration: 0.2s;
    border: 1px solid;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    background-color: #e6beb6;
}

button:hover {
    background-color: #c88b85;
    color: white;
}

input {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 12pt;
}

label {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Josefin Slab', serif;
}

select {
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    line-height: 1.5;
}

textarea {
font-size: 14px;
line-height: 1.5;
}

body {
    /* font-family: 'Josefin Sans', sans-serif;
    font-family: 'Josefin Slab', serif; */
    /* padding: 0 3rem; */
    background-color: #fbfaf9;
}