.form--login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membership {
    display:flex;
    justify-content: center;
    font-family: 'Josefin Slab', serif;
    font-size: 12pt;
    text-decoration: none;
}

.membership:visited {
    text-decoration: none; 
}


.membership:hover {
    transform: scale(110%);
    transition: 250ms ease-in-out;
}