/* Steve's stlying commented out */

/* .container--login {
    text-align: center;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    min-height: 25rem;
    min-width: 45rem;
}

.form--login > fieldset > input[type="email"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;  
} */

/* .form-control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
} */

/* .button--close {
    position: relative;
    bottom: -2rem;
} */


